@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montez&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #fff;
  font-family: "poppins", cursive;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  pointer-events: none;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: visible;
  background: rgb(8, 8, 8) url("gifeagle.gif") no-repeat center center;
}

.container {
  height: 100vh;
}

.container img {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}

.main-title {
  position: absolute;
  font-family: "Dancing Script", cursive;
  top: 25%;
  left: 45%;
  font-size: 4.1rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  transform: translate(-45%, -25%);
}

.content {
  width: 100%;
  min-height: 100vh;
  background: #2c3e50;
}

.about {
  padding: 5.25rem;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
  padding: 10px 20px;
}

.row .col50 .titletext {
  font-size: 4.3em;
  font-family: "poppins", sans-serif;
  font-weight: 550;
}

.row .col50 p {
  font-family: "poppins", sans-serif;
  font-size: 2.1em;
  font-weight: 350;
}

.row .col50 p span {
  font-size: 0.8em;
}

.row .col50 .btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 2rem;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.row .col50 .btn:hover,
.row .col50 .btn:focus-within {
  color: #fff;
  outline: 0;
}

.button1 {
  border-color: navy;
  color: #fff;
  box-shadow: 0 0 40px 40px navy inset, 0 0 0 0 navy;
  transition: all 150ms ease-in-out;
}

.button1:hover,
.button1:active,
.button1:focus-within {
  box-shadow: 0 0 10px 0 navy inset, 0 0 10px 4px navy;
}

.row .col50 .imgbox {
  position: relative;
  width: 100%;
  min-height: 40rem;
}

.row .col50 .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.achivements {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  padding: 3rem;
  background: #2c3e50;
  font-family: "poppins", sans-serif;
}

.achivements .row {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.achivements h1 {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
}

.achivements p {
  font-family: "poppins", sans-serif;
}

.achivements .row .box1 {
  width: 21.25rem;
  margin: 1.25rem;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}

.achive-col {
  position: relative;
  width: 100%;
  height: auto;
}

.achive-col img {
  width: 100%;
  height: 16rem;
}

.layer h3 {
  opacity: 1;
  font-family: "poppins", sans-serif;
  text-align: center;
}

@media (hover) {
  .layer {
    background: transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover,
  .layer:focus-within {
    background: rgba(0, 0, 128, 0.7);
  }

  .layer h3 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
  }
  .layer:hover h3,
  .layer:focus-within h3 {
    opacity: 1;
  }
}

.Slider .title {
  position: absolute;
  top: 1rem;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.Slider .title h2 {
  color: navy;
  font-size: 2em;
  font-weight: 600;
}

.Slider .box {
  width: 18.75rem;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2.3rem;
  margin-bottom: 3.5rem;
  margin-left: 1.563rem;
  margin-right: 1.563rem;
}

.Slider .box .slide-img {
  height: 450px;
  position: relative;
}

.Slider .box .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.details-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: calibri;
}

.details-box .name {
  display: flex;
  flex-direction: column;
}

.details-box .name a {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 10px;
}

.details-box h5 {
  color: navy;
  font-weight: 600;
  font-size: 0.89rem;
  font-family: "poppins", sans-serif;
  letter-spacing: 0.5px;
}

@media (max-width: 991px) {
  .about {
    padding: 1rem 2rem;
  }
  .about .row {
    flex-direction: column;
  }
  .about .row .col50 {
    width: 100%;
    padding: 0;
  }
  .about .row .col50 .imgBx {
    margin-top: 1.25rem;
  }
  .about .row .col50 .titletext {
    font-size: 2.5em;
    line-height: 1.5em;
    margin-bottom: 0.938rem;
  }
  .about .row .col50 p {
    font-size: 1.5em;
  }
  .about .row .col50 p span {
    font-size: 0.4em;
  }
}

.Slider {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
}
